<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/server/public/css/bootstrap.css" />
    <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="/server/public/css/style.css" />
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <h1 class="text-center">
                페이지 정보
            </h1>
            <div class="col-12">
                <form name="form" id="form" method="post" action="/pageinfo/write" enctype="multipart/form-data">
                    <ul class="list-group">
                        <li class="list-group-item d-flex">
                            <label class="col-3 text-end pe-3" for="pagename">
                                페이지이름
                            </label>
                            <input type="text" name="pagename" id="pagename" value="" />
                        </li>
                        <li class="list-group-item d-flex">
                            <label class="col-3 text-end pe-3">
                                애니메이션텍스트
                            </label>
                            <div id="animated" class="col-9 d-flex">
                                <div class="col-9">
                                    <input type="text" name="animated" value="" />
                                    <div id="addlisttext"></div>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="btn btn-info" onclick="addInput(1)">추가</button>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item d-flex">
                            <label class="col-3 text-end pe-3">
                                이미지
                            </label>
                            <div id="upimg" class="col-9 d-flex">
                                <div class="col-9">
                                    <input type="file" name="img" value="" />
                                    <div id="addlistfile"></div>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="btn btn-info" onclick="addInput(2)">추가</button>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <input type="hidden" name="id" value="{{row._id}}" />
                    <div class="my-3 text-center">
                        <button type="submit" class="btn btn-info">
                            전 송
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        var box;
        var inputtext = '';
        var inputfile = '';
        function addInput(n) {
            if (n == 1) {
                box = document.getElementById("addlisttext");
                inputtext += "<input type='text' name='animated'>";
                inputtext += " <button type='button' class='btn btn-danger'>삭제</button> <br />";
                box.innerHTML = inputtext;
            } else {
                box = document.getElementById("addlistfile");
                inputfile += "<input type='file' name='img'>";
                inputfile += " <button type='button' class='btn btn-danger'>삭제</button> <br />";
                box.innerHTML = inputfile;
            }

        }

        // function myinfo(){
        //    const form = document.form;
        //    if(form.name.value == '') {
        //       alert('이름은 필수 사항입니다.');
        //       form.name.focus();
        //       return false;
        //    }
        //    if(form.email.value == '') {
        //       alert('이메일은 필수 사항입니다.');
        //       form.email.focus();
        //       return false;
        //    }
        //    if(form.phone.value == '') {
        //       alert('전화번호는 필수 사항입니다.');
        //       form.phone.focus();
        //       return false;
        //    }
        //    if(form.id.value == ''){
        //       form.action = '/myinfo/write';
        //    }else{
        //       form.action = '/myinfo/update';
        //    }
        //    return;
        // }
    </script>
</body>

</html>