<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="timeline">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-between my-5">
                <a href="/" class="btn btn-primary">목록</a>
                <a href="./write" class="btn btn-success">데이터입력</a>
            </div>

            <!-- loop -->
            {% for rs in row %}
            <a href="/timeline/edit/{{rs.id}}" class="col-3 my-4">
                <div class="card">
                    <img src="/timeline/{{image}}" class="card-img-top" />
                    <div class="card-body">
                        <h1>{{rs.jobtitle}}</h1>
                        <p>{{rs.where}}</p>
                        <p>{{rs.wdate}}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
            <!-- /loop -->
        </div>

    </div>
</body>

</html>