<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>timeline</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap">
  <link rel="stylesheet" href="/css/bootstrap-datepicker.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="timeline">
  <div class="container pagecontainer mt-5">
    <h1 class="text-center">
      {{title}}
    </h1>
    <form name="form" id="form" method="post" action="/timeline/edit" enctype="multipart/form-data">
      <!-- loop -->
      <ul class="list-group">

        <li class="list-group-item">
          <div class="row">
            <div class="col-12 mt-3">
              <label class="d-block mx-1 my-2">
                내용
              </label>
              <input type="text" name="jobtitle" id="jobtitle" class="form-control" value="{{rs.jobtitle}}">

            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-12 mt-3">
              <label class="d-block mx-1 my-2">
                장소
              </label>
              <input type="text" name="where" id="where" class="form-control" value="{{rs.where}}">
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-12 mt-3">
              <label class="d-block mx-1 my-2 form-label">
                날짜
              </label>
              <input type="text" id="datePicker" name="wdate" class="form-control" value="{{rs.wdate}}">

            </div>
          </div>
        </li>

        <li class="list-group-item">
          <label class="d-block mx-1 my-2">
            이미지 업로드
          </label>
          <div class="row mb-3">
            <div class="col-2">
              <label>
                <input type="checkbox" value="1" name="imgchk" class="imgchk">
              </label>
            </div>
            <div class="col-3 imgtxt">
              {{rs.orimg}}
            </div>
            <div class="col-7 img mt-3" id="myfiles">
              <input type="file" name="img" class="input_img form-control mb-3" />
            </div>

          </div>
        </li>
      </ul>
      <div class="btn-box d-flex justify-content-center my-5">
        <a href="/timeline/list" class="btn btn-warning mx-4 px-5"> 취소 </a>
        <button type="submit" class="btn btn-success mx-4 px-5"> 전송 </button>
      </div>
      <!-- / loop -->
      <input type="hidden" name="imgname" value="{{rs.img}}" />
      <input type="hidden" name="id" value="{{rs.id}}" />
    </form>
  </div>

  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="/js/bootstrap-datepicker.min.js"></script>
  <script>
    $(function () {
      $('#datePicker').datepicker({
        format: "yyyy-mm-dd",
        autoclose: true,
        language: "ko"
      });
    });
    const checkbox = document.querySelector(".imgchk");
    const imgInput = document.querySelector(".input_img");
    const imgtxt = document.querySelector(".imgtxt");
    const imgtxtValue = imgtxt.textContent;

    checkbox.addEventListener("click", () => {
      if (checkbox.checked) {
        imgtxt.textContent = "(삭제)" + imgtxtValue;
        imgInput.style.display = "block";
      } else {
        imgtxt.textContent = imgtxtValue;
        imgInput.style.display = "none";
      }
    });
  </script>
</body>

</html>